button {
    width: 86px;
    height: 27px;
    color: var(--color-black);
    border: none;
    border-radius: 4px;
    background: var(--color-grey);
    cursor: pointer;
}

input[type="button"] {
    outline: none;
}


