:root {
    --color-black: #000000;
    --color-dark: #1C1C1C;
    --color-white: #FFFFFF;
    --color-blue: #23A3FF;
    --color-light: #E6E6E6;
    --color-grey: #F2F2F2;
    --color-red: #E85C5C;
    --color-light-grey: #D9D9D9; 
}